* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

html {
    overflow-x: hidden;
}
.container {
    max-width: 924px;
    width: 100%;
    margin: 0 auto;
    margin-left:200px;
}

header {
    background-color: blue;
    color: aliceblue;
    padding-top: 5px;
}

header > .container {
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5px;
    display: flex;
}

nav {
    background-color: aliceblue;
    padding: 10px 0;
    display: none;
}

nav li {
    list-style: none;
    display: inline;
    margin-right: 16px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

nav li a {
    text-decoration: none;
}

.menu-hamburguer {
    width: 32px;
    cursor: pointer;
}

.menu-hamburguer span {
    width: 100%;
    height: 2px;
    background-color: #fff;
    display: block;
    margin-bottom: 4px;
}

#carrossel-imagens img{
    max-width: 100%; /* A imagem não pode exceder a largura da div */
    height: 250px; /* Altura desejada */
    object-fit: cover; /* Ajusta a imagem para cobrir completamente a altura definida */
}

.outrocontainer{
    width: 800px;
    align-items: center;
    margin-left:200px;
    display: flex;
    padding: 16px;
    gap: 16px;
}

.container-flex {
    display: flex;
}

#sobre-loja {
    max-width: 400px;
    margin-right: 24px;
    padding: 16px;
    
}

section {
    padding: 48px 0;
}

section h2 {
    margin-bottom: 16px;
}

.lista-veiculos {
    flex-wrap: wrap;
}

.lista-veiculos li{
    list-style: none;
    max-width: 30%; 
    margin-bottom: 16px;
}

.lista-veiculos li img {
    max-width: 100%;
}

.lista-veiculos li h3 {
    margin: 16px 0;
}

.item-central {
    margin: 0 5%;
}

.lista-veiculos li button{
    display: block;
    width: 100%;
    padding: 8px 0;
    border: none;
    background-color:#119759;
    color:#fff;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
    border-radius: 6px;
}

.price{
    margin: 16px 0;
    display: block;
}

.price del{
    color: #ccc;
    font-size: 14px;
}