* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

html {
    overflow-x: hidden;
}
.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header {
    background-color: green;
    
    color: aliceblue;
}

header > .container {
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;
    display: flex;
}

nav {
    background-color: aliceblue;
    padding: 10px 0;
    display: none;
}

nav li {
    list-style: none;
    display: inline;
    margin-right: 16px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

nav li a {
    text-decoration: none;
}

.menu-hamburguer {
    width: 32px;
    cursor: pointer;
}

.menu-hamburguer span {
    width: 100%;
    height: 2px;
    background-color: #fff;
    display: block;
    margin-bottom: 4px;
}

#carrossel-imagens img{
    max-width: 100%; /* A imagem não pode exceder a largura da div */
    height: 250px; /* Altura desejada */
    object-fit: cover; /* Ajusta a imagem para cobrir completamente a altura definida */
}

.outrocontainer{
    width: 600px;
    align-items: center;
    margin-left:200px;
    display: flex;
    padding: 16px;
}

#sobre-loja {
    max-width: 400px;
    margin-right: 24px;
    padding: 16px;
}

section {
    padding: 48px 0;
}

section h2 {
    margin-bottom: 16px;
}